/* Structure */

.example-container {
    position: relative;
    min-height: 200px;
    padding: 20px;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


.align-center {
    text-align: center;
}

.noData {
    text-align: center!important;
    color: #3C5A99;
    font-size: 2rem;
}

.location-list-header {
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #673ab7;
    text-align: center;
}

.new-location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
} 

.new-location-click-desc {
    padding-top: 5px;
    font-size: 1.5rem;
    color: #3C5A99;
}

.new-location-click {
    margin-left: 20px;
    align-self: center;
}